<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ADMIN_GORILLA_BURGER.Properties.Settings.db_a8ec30_yanina001ConnectionString" connectionString="Data Source=SQL5104.site4now.net;Initial Catalog=db_a8ec30_yanina001;Persist Security Info=True;User ID=db_a8ec30_yanina001_admin;Password=Stepbystep01" providerName="System.Data.SqlClient" />
    <add name="GBModel" connectionString="data source=SQL5104.site4now.net;initial catalog=db_a8ec30_yanina001;persist security info=True;user id=db_a8ec30_yanina001_admin;password=Stepbystep01;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ClientOrderController" connectionString="data source=SQL5104.site4now.net;initial catalog=db_a8ec30_yanina001;persist security info=True;user id=db_a8ec30_yanina001_admin;password=Stepbystep01;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>